@import url("./vars.css");

* {
   font-family: Montserrat, sans-serif;
   color: var(--main_font_color);
}

html,
body {
   box-sizing: border-box;
   margin: 0 auto;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

section {
   margin-bottom: 100px;
}

.header_flex,
.first_screen_flex,
.benefits_flex,
.product_flex,
.marketers_flex,
.footer_flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header,
footer {
   margin-bottom: 70px;
}

.header_flex {
   padding: 17px 0;
}

.menu {
   display: flex;
   justify-content: space-between;
   width: 352px;
   margin: 9px 0;
}

.menu_link {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.8px;
   color: var(--main_font_color);
}

.menu_link:hover {
   color: var(--add_font_color);
}

.buttons {
   width: 252px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header_button {
   height: 46px;
   width: 110px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.3;
   border: 1px solid #bcd0e5;
   border-radius: 4px;
   background: #ffffff;
   cursor: pointer;
}

button:hover {
   background: var(--add_font_color);
   color: #ffffff;
}

.first_screen_content {
   width: 500px;
   padding-top: 97px;
   padding-bottom: 97px;
}

.title {
   margin-bottom: 30px;
   font-weight: 700;
   font-size: 44px;
   line-height: 1.2;
}

.first_screen_text {
   margin-bottom: 20px;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.6;
   color: var(--text_font_color);
}

.button_orange {
   width: 180px;
   height: 50px;
   border: 1px solid #bcd0e5;
   background: var(--add_font_color);
   border-radius: 4px;
   color: #ffffff;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   font-family: "Poppins";
   cursor: pointer;
}

.features_title {
   margin: 0 auto;
   max-width: 540px;
   font-size: 2.25em;
   line-height: 1.22;
   font-weight: 600;
   padding-bottom: 50px;
   color: var(--main_font_color);
   text-align: center;
}

.features_card {
   display: flex;
   justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
   padding-bottom: 70px;
}

.feature_text,
.benefits_text,
.product_text,
.marketers_text,
.footer_text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   color: var(--text_font_color);
}

.feature {
   width: 270px;
}

.features .container {
   position: relative;
}

.bg {
   padding-top: 20px;
   padding-bottom: 75px;
   background: url("../assets/img/bg.svg") center center/cover no-repeat;
   background-position: right -178.89% top 99.22%;
}

.card_title {
   padding-top: 30px;
   padding-bottom: 16px;
}

.feature_button {
   display: block;
   margin: 0 auto;
}

.benefits_content {
   max-width: 525px;
   margin: 20.5px 0;
}

.benefits_title,
.product_title,
.marketers_title {
   margin: 0 0 20px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   color: var(--main_font_color);
}

.benefits_descr,
.marketers_descr {
   margin-bottom: 40px;
}

.benefits_subtitle,
.marketers_subtitle {
   padding: 30px 0 10px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.6;
   color: var(--main_font_color);
}

.benefits_subtitle:first-child,
.marketers_subtitle:first-child {
   padding-top: 0;
}

.benefits_img {
   max-width: 562px;
}

.product_img {
   max-width: 570px;
}

.product_content {
   max-width: 505px;
   margin: 48px 0;
}

.product_descr {
   min-width: 440px;
}

.product_list {
   margin: 40px 0 48px;
   max-width: 415px;
   padding-left: 50px;
}

.product_item {
   max-width: 420px;
   margin-bottom: 30px;
   position: relative;
}

.product_item:last-child {
   margin-bottom: 0;
}

.product_list .product_item::before {
   content: "";
   display: block;
   position: absolute;
   height: 35px;
   width: 35px;
   left: -50px;
   top: 5px;
   background: url("../assets/icons/check.png") center center/cover no-repeat;
}

.marketers_content {
   max-width: 485px;
   margin: 40px 0;
}

.marketers_img {
   max-width: 540px;
}

footer::before {
   /* content: "";
   background: rgba(188, 208, 229, 0.496913); */
   content: "";
   background-color: rgba(188, 208, 229, 0.496913);
   height: 1px;
   display: block;
}

.footer_flex {
   margin-top: 70px;
   align-items: flex-start;
}

.quick_links,
.legal_stuff {
   max-width: 135px;
}

.footer_form {
   max-width: 340px;
}

.footer_subtitle {
   margin-bottom: 30px;
   font-family: "Gotham";
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: var(--main_font_color);
}

.footer_subtitle_form {
   max-width: 250px;
   margin-bottom: 25px;
}

.footer_input {
   margin-bottom: 25px;
}

input {
   width: 340px;
   height: 50px;
   border: 1px solid #bcd0e5;
   border-radius: 4px;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.3px;
}

.footer_text {
   line-height: 42px;
}
